body {
    margin                  : 0;
    font-family             : -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

code {
    font-family : source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (min-width : 320px) {
    .mats-input {
        flex-grow  : 0;
        min-width  : 100%;
        margin-top : 15px !important;
    }
}

@media screen and (min-width : 340px) {
    .mats-input {
        flex-grow  : 1;
        min-width  : unset;
        margin-top : 0 !important;
    }
}

@media screen and (min-width : 350px) {
    .mats-input {
        margin-left : 10px !important;
    }
}

.menu-top {

}

.faction-tab {
    font-size      : 12px;
    font-weight    : 300;
    text-transform : initial;
}

.menu-footer {
    position         : fixed;
    bottom           : 0;
    width            : 100%;
    background-color : #d6d6d6;
}

/*Стили для страницы с победителями*/
